<div id="modal" class="hide"> <!--Responsável pela tela "preta"-->
    <div class="content"> <!--Conteúdo da tela "preta"-->
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a> <!--O "opação do lado do h1 pra fechar a tela preta"-->
        </div>
        <form action="/search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por cidade">
                <button>
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>