/*Os headers são literalmente a parte da "cabeça do documento"*/
#page-search-results{
    width: 90%;
    max-width: 1100px;
    /*Padrão de alinhamento de caixa (pelo lado de fora-o de dentro é o flex)*/
    margin: 0 auto;
}
#page-search-results header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page-search-results header a {
    color: var(--title-color); /*que está no main.css*/
    font-weight: bold;

    display: flex;
    align-items: center;
}
#page-search-results header a span{
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px; /*antes era 20px, mas o alinhamento n tinha ficado legal*/
}

body::after { /*O chamado "pseudoelemento pq ele só existe no css, não faz parte do html da página"*/
    content: "";
    position: fixed;
    background: white;
    top: 270px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

main{
    margin: 48px;
}

main h4 { /*quantidade de pontos de coletas*/
    font-weight: normal;
    font-family: Roboto, sans-serif; /*deixando a font-family standard Ubuntu, não estava diferenciando o bold do normal*/
    margin-bottom: 32px;
}

main .cards { /*modo de apresentação das imagens*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 24px;
}

main .card img{
    width: 100%;
    height: 150px;

    object-fit: cover;
    
    border-radius: 8px 8px 0 0; 
}

main .card h1{ /*nome do ponto de coleta*/
    margin-top: 32px;
    font-size: 36 px;
    line-height: 41px;

    color: #322153;
}

main .card h3 { /*descrição do que são os recicláveis*/
    margin: 24px 0;

    font-family: Roboto;
    font-weight: bold;

    font-size: 24px;
    line-height: 34px;

    color:var(--primary-color);
}

main .card p{ /*textinhos em baixo*/
    font-size: 16px;
    line-height: 26px;

    color: #6c6c80
}